@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

:root{
    --primary-color: #ca786d;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

hr{
    margin: 2rem 0;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: solid 1px var(--primary-color)
}

.list-no-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link{
    color: white;
}

.text-align-right{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}