@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

:root{
    --primary-color: #ca786d;
    --dark-grey: #9CA3AF;
    --off-white: #F3F4F6;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;;
}

hr{
    margin: 2rem 0;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: solid 1px var(--primary-color)
}

.list-no-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-top-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link{
    color: white;
}

.text-align-right{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem 0;;
}

.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading{
    text-align: center;
    font-size: 2rem;
    color: var(--dark-grey);
    padding-top: 1rem;
}

.heading-highlighted{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.section-off-white{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;

}

.footer-header{
    font-size: large;
    font-weight: bold;
}

.footer .link{
    color: white;
}

.footer .social-links{
    padding-inline-start: 0;
}